body{
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.default-btn{
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: all .1s ease-in;
}

.default-btn:hover{
    background-color: #0d6efd;
    color: white;
}


.logo{
    width: 200px;
}

.logo img{
    max-width: 100%;
}


.choice-card{
    padding: .9rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.modal-footer{
    justify-content: space-between !important;
}

.questions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.active-bg{
    background:#0d6efd;
    color: white;
    border: none;
}

.active-bg:hover{
    background:#1156be;
}

.dot{
    width: 12px;
    height: 12px;
    background-color: #cbcbcb;
    border-radius: 50%;
}

.dots-container{
    display: flex;
    gap: 5px;
}

.dot-active{
    background:#0d6efd;
    transform: scale(1.2);
    transition: transform .3s ease;
}
